@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway';
}
.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
/* .condiv class is for the right side content container*/
.condiv {
  padding: 100px;
  background-color: #f4f5f9;
  flex: var(--condiv-flex);
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.profilepic {
  border-radius: 50%;
  width: 200px;
  margin: 30px;
}
.typingeffect {
  font-size: var(--typing-font);
  margin-bottom: 30px;
}
nav {
  padding: 60px 30px 0px 30px;
  flex: var(--sidebar-flex);
  background: rgb(238, 103, 143);
  background: linear-gradient(
    180deg,
    rgba(238, 103, 143, 1) 50%,
    rgba(132, 124, 252, 1) 80%
  );
}
nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav ul li {
  margin: 40px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

.active {
  font-weight: bolder;
}
.social {
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}
.social i {
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}
.social i:hover {
  color: #ffffff;
}
.subtopic {
  margin: 10px 10px 30px 10px !important;
}
p {
  font-size: var(--fontsize-p);
}
h1,
h2,
h3,
h4,
p {
  margin: 10px;
}
.widecard {
  border: 0px solid #9a9b9c;
  display: flex;
  margin: 30px 0px 30px 0px;
}
.widecard:hover {
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.project-container {
  flex: var(--condiv-flex);
  padding: 100px;
  background-color: #f4f5f9;
}
.project-header {
  margin: 10px 10px 30px 10px !important;
  text-align: start;
}
.project-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgb(226, 220, 220);
  border-radius: 15px;
  width: 250px;
  margin: 15px 10px 15px 10px;
}
.card-container {
  border: 0px solid #9a9b9c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}
.card-container:hover {
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.card-container img {
  height: 200px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-container h3 {
  padding-top: 5px;
  /* padding-bottom: 10px; */
  text-align: center;
}
.card a {
  /* border-radius: 5px; */
  text-align: center;
  /* border: 1px solid rgb(226, 220, 220); */
  /* height: 30px;
  width: 100px; */
  /* margin-bottom: 5px; */
  cursor: pointer;
  text-decoration: none;
  /* background-color: rgb(243, 120, 157); */
  color: rgba(132, 124, 252, 1);
  /* font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center; */
}
